<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=hi, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MERCADO LIEBRE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    <header>
    <div class="header">
        <div class="contenedor-logo">
            <img src="/images/logo-mercado-liebre.svg" alt="">
        </div>
        <div class="contenedor-buscador">
            <input type="search" placeholder="Buscar productos, marcas" size="">
            <form action="/" method="get">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>    
        </div>
        <div class="contenedor-compra-tc">
        <p class="centrado"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="contenedor-site">
        <ul class="site">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        </div>
        <div class="contenedor-login">
            <div class="">
        <ul class="login-nav-bar">
            <li> <a href="/register">Crea tu cuenta</a> <i class="far fa-id-card"></i></li>
            <li> <a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
            <li>Mis compras  <i class="fas fa-shopping-basket"></i></li>
        </ul>
        </div>

    </div>
        <div class="burger-menu">
            <i  class="fas fa-bars"></i>
            </div> 

    </header>

    <div class=" banner"><img src="/images/img-home-banner.jpg" style="width: 100vw;"> </div>

    <main>
        <div class="div-main">
  
                <section class="titulares">Basado en tu última visita</section>
                <br>
            <div class="contenedores-productos">
                <div class="div-producto">
                    <img  src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$6.770</span></section>
                        <section><span class="detalles1">40% OFF</span></section>
                        <section><span class="detalles2">Cafetera Moulinex</span></section>
                    </div>
                </div>
                <div class="div-producto">
                    <img  src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$230.000</span></section>
                        <section><span class="detalles1">20% OFF</span></section>
                        <section><span class="detalles2">MacBook Pro 2019</span></section>
                    </div>
                </div>
                <div class="div-producto">
                    <img  src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$70.500</span></section>
                        <section><span class="detalles1">10% OFF</span></section>
                        <section> <span class="detalles2">Samsung Galaxy S10</span></section>
                    </div>
                </div>
                <div class="div-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$23.200</span></section>
                        <section><span class="detalles1">5% OFF</span></section>
                        <section><span class="detalles2">SmartTv Samsung 43"</span></section>
                    </div>
                </div>
            </div>    

                <br>
                <section class="titulares">Sección de Ofertas</section>
                <br>
            <div class="contenedores-productos">

                <div class="div-producto">
                    <img  src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$6.770</span></section>
                        <section><span class="detalles1">40% OFF</span></section>
                        <section><span class="detalles2">Cafetera Moulinex</span></section>
                    </div>
                </div>

                <div class="div-producto">
                    <img  src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$230.000</span></section>
                        <section><span class="detalles1">20% OFF</span></section>
                        <section><span class="detalles2">MacBook Pro 2019</span></section>
                    </div>
                </div>

                <div class="div-producto">
                    <img  src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$70.500</span></section>
                        <section><span class="detalles1">10% OFF</span></section>
                        <section> <span class="detalles2">Samsung Galaxy S10</span></section>
                    </div>
                </div>

                <div class="div-producto">
                    <img  src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="div-detalles-producto">
                     <i class="fas fa-truck" id="icono-camion"></i>
                        <section><span class="precios">$23.200</span></section>
                        <section><span class="detalles1">5% OFF</span></section>
                        <section><span class="detalles2">SmartTv Samsung 43"</span></section>
                    </div>
                </div>
            </div>


        </div>

    </main>

    <footer>

        <ul>
            <div class="contenedor-footer">
                <div class="contenedores-informacion-final">
                    <div> <i class="fas fa-credit-card" id="iconos-grandes"></i> </div>
                    <li class="informacion-final">Pagá con tarjeta o en efectivo</li>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="contenedores-informacion-final">
                    <div><i class="fas fa-gift" id="iconos-grandes"></i>  </div>  
                    <li class="informacion-final">Envío gratis desde $ 2.500</li>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    </p>productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="contenedores-informacion-final">
                    <div><i class="fas fa-user-shield" id="iconos-grandes"></i> </div>
                    <li class="informacion-final">Seguridad, de principio a fin</li>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>

            <br>
            
        <p class="margen">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html>